[submodule "aya"]
	path = aya
	url = git@github.com:luisgerhorst/sust-aya.git
[submodule "aya-book"]
	path = aya-book
	url = git@github.com:luisgerhorst/sust-aya-book.git
[submodule "linux"]
	path = linux
	url = git@github.com:luisgerhorst/sust-linux.git
