[submodule "aya"]
	path = aya
	url = git@github.com:luisgerhorst/sust-aya.git
[submodule "linux"]
	path = kernel/linux
	url = git@github.com:luisgerhorst/sust-linux.git
[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
[submodule "virtme-ng"]
	path = virtme-ng
	url = https://github.com/arighi/virtme-ng.git
[submodule "ebpf/sust-aya"]
	path = ebpf/aya
	url = git@github.com:luisgerhorst/sust-aya.git
[submodule "KernJC"]
	path = KernJC
	url = git@github.com:luisgerhorst/sust-KernJC.git
[submodule "ebpf-verifier"]
	path = ebpf-verifier
	url = git@github.com:vbpf/ebpf-verifier.git
[submodule "libbpf-bootstrap"]
	path = libbpf-bootstrap
	url = git@github.com:libbpf/libbpf-bootstrap.git
[submodule "linux-dev"]
	path = linux-dev
	url = git@github.com:torvalds/linux.git
